
<router-outlet></router-outlet>
<div class="row">
  <app-home></app-home>
 <!-- <div class="col-sm-3 col-md-3"><app-bmi></app-bmi></div>-->
</div>
<app-about></app-about>

<!--<div class="container-fluid">
  <div id="parallax2" class="parallax">
    <div class="bg2 parallax-bg"></div>
    <div class="overlay"></div>
    <div class="container">
      <div class="parallax-content visible-lg visible-md hidden-sm hidden-xs">
        <div class="parallax_txt1">
          
         <p>Healthlyne main objective is to promote wellness, prevent diseases, and speed up early detection of disease. We work with most of the biggest Diagnostic Centers in Hyderabad. Through our online services we bridge the trust gap between patients and healthcare professionals.
Healthlyne is dedicated to NABL Accredited Diagnostic Centers , we assure top quality, confidential results with added benefits of affordability.</p>
          
          </div>
       
      </div>
    </div>
  </div>
</div>-->
<app-packages></app-packages>

<div id="services"></div>
<app-clients></app-clients>
<!--
<div id="ourteam"></div>
<div class="container-fluid1"></div>

<app-clients></app-clients>

<div id="services"></div>
<div class="container-fluid">
  <div class="row  visible-lg visible-md hidden-sm hidden-xs">
    <div id="parallax2" class="parallax">
      <div class="bg2 parallax-bg"></div>
      <div class="overlay"></div>
      <div class="container">
        <div class="parallax-content visible-lg visible-md hidden-sm hidden-xs">
          <div class="parallax_txt2">Why Choose us ?</div>
          <div class="parallax_txt1">You have a number of reason to prefer us !</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-services></app-services>-->



<app-contact></app-contact>

<!--<app-map></app-map>

<app-footer></app-footer>-->
