<div id="about" style="padding-top:20px;">
 <!-- <div class="container-fluid1"></div>-->

<div class="container-fluid">

    <div id="parallax2" class="parallax" >
        <div class="bg2 parallax-bg"></div>
        <div class="overlay"></div>
        <div class="container">
            <div class="parallax_txt9">About Us</div>
              <div class="parallax_txt8"> Healthlyne main objective is to promote wellness, prevent diseases, and speed up early detection of disease.
                    We work with most of the biggest Diagnostic Centers in Hyderabad. Through our online services we bridge
                    the trust gap between patients and healthcare professionals.Healthlyne is dedicated to NABL Accredited
                    Diagnostic Centers , we assure top quality, confidential results with added benefits of affordability.</div>
            <div class="parallax-content">
                  
              
                    <!--<div class="mbr-overlay"></div>-->
            </div>
        </div>
    </div>
</div>
 
    </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="ser-title"  style="font-family: 'Montserrat', sans-serif;color: #222222;margin-top: 10px;margin-bottom: 20px;"> Importance of Preventive Health Check Up</h2>
               
            </div>
        </div>
    </div>
        <!--about in lg-->
    <div class="container">
        <div class="row ">
            <div class="col-lg-4" >
                
  <div class="image">
     
      <img src="../../img/health_checkup.png" class="imgIcon"   />
    
        <h4 class="h4">Proper Health Checkup</h4> 
                <p class="p">Our healthy lifestyle has come to a halt. Our work leaves us with no time to involve ourselves in physical activities. This is affecting us today with chronic heart diseases, cancers, mental disturbances, diabetes, and several hormonal imbalances.
                       </p>
         </div>
            </div>
    <div class="col-lg-4 ">
         <div class="image">
                <img src="../../img/heart-icon.png" class="imgIcon"   />
                <h4 class="h4">Healthy Life</h4> 
                <p class="p" >Regular health exams and tests can help find problems before they start. They also can help find problems early, when your chances for treatment and cure are better.
                       By getting the right health services, screenings, and treatments. 
                       </p>
                   
         </div>
            </div>
            <div class="col-lg-4">
                 <div class="image">
                <img src="../../img/lifestyle.png" class="imgIcon"  />
                <h4 class="h4">Lifestyle</h4> 
                <p class="p">Your age, health and family history, lifestyle choices (i.e. what you eat, how active you are, whether you smoke), 
                    and other important factors impact what and how often you need healthcare.A healthy lifestyle leads to good health.</p>
                 </div>
            </div>
        </div>
    </div>
    <div class="container aboutDescr">
        <div class="row">
         <div class="col-lg-12 aboutCls">
       <p> All of this can be prevented by planning and executing a proper health check-up to prevent the disease from spreading.
         Therefore, it is important to go for yearly or monthly preventive tests to increase chances for treatment and cure.</p>
         </div>
         </div>
    </div>
        <div class="container home-section">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
							
							<i class="fa fa-list-alt fa-4x circled bg-skin"></i>
							<!--<h4 class="h-bold" style="color:black;">Choose your package</h4>-->
							<p class="iconDesc">Choose your package</p>
						</div>
					</div>
						
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="box text-center">
							
							<i class="fa fa-check fa-4x circled bg-skin"></i>
							<!--<h4 class="h-bold">Make an appoinment</h4>-->
							<p class="iconDesc">Make an appoinment</p>
						</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
							<i class="fa fa-user-md fa-4x circled bg-skin"></i>
							<!--<h4 class="h-bold">Help by specialist</h4>-->
								<p class="iconDesc">Help by specialist</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
							
							<i class="fa fa-hospital-o fa-4x circled bg-skin"></i>
							<!--<h4 class="h-bold">Get diagnostic report</h4>-->
                            	<p class="iconDesc">Get diagnostic report</p>
						</div>
					</div>
				</div>
			</div>
		</div>

        

