<div class="container">
  <div id="contacts">
    <div class="page_title2"><span><em class="l"></em>contact info<em class="r"></em></span></div>

    <div class="row">
      <div class="col-sm-4">

        <h3 class="page_title">Our Address</h3>

        <div class="thumb4">
          <div class="thumbnail clearfix">
            <figure><img src="../../img/contacts01.jpg" alt="" width="100%"></figure>
            <div class="caption">

              Melange Towers, 11A, unispace<br> patrika nagar, hi-tech city <br> Madhapur, Hyderabad<br><br> Telephone: 8978733003<br> E-mail: <a href="#">info@healthlyne.in</a>
            </div>
          </div>
        </div>



      </div>
  
      <div class="col-sm-8">

        <h3 class="page_title">Contact Form</h3>

        <div id="note"></div>
        <div id="fields">
          <form id="ajax-contact-form" class="form-horizontal" action="javascript:alert('success!');">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">

                  <input type="text" class="form-control" id="inputName" name="name" value="Full Name" onBlur="if(this.value=='') this.value='Full Name'"
                    onFocus="if(this.value =='Full Name' ) this.value=''">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">

                  <input type="text" class="form-control" id="inputEmail" name="email" value="E-mail address" onBlur="if(this.value=='') this.value='E-mail address'"
                    onFocus="if(this.value =='E-mail address' ) this.value=''">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">

                  <input type="text" class="form-control" id="inputPhone" name="phone" value="Phone" onBlur="if(this.value=='') this.value='Phone'"
                    onFocus="if(this.value =='Phone' ) this.value=''">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">

                  <textarea class="form-control" rows="5" id="inputMessage" name="content" onBlur="if(this.value=='') this.value='Message'"
                    onFocus="if(this.value =='Message' ) this.value=''">Message</textarea>
                </div>
              </div>
            </div>
            <div class="row">
              
            </div>
            <button type="submit" class="btn-default btn-cf-submit">Submit</button>
          </form>
        </div>



      </div>
    </div>
  </div>
</div>
