<app-menu></app-menu>
<router-outlet></router-outlet>
<!--<app-menu></app-menu>
<router-outlet></router-outlet>
<app-home></app-home>

<app-about></app-about>

<div class="container-fluid">
  <div id="parallax2" class="parallax">
    <div class="bg2 parallax-bg"></div>
    <div class="overlay"></div>
    <div class="container">
      <div class="parallax-content visible-lg visible-md hidden-sm hidden-xs">
        <div class="parallax_txt1">need a doctor for check-up ?</div>
        <div class="parallax_txt2">just make an appointment</div>
      </div>
    </div>
  </div>
</div>

<div id="ourteam"></div>
<div class="container-fluid1"></div>

<app-clients></app-clients>

<div id="services"></div>
<div class="container-fluid">
  <div class="row  visible-lg visible-md hidden-sm hidden-xs">
    <div id="parallax2" class="parallax">
      <div class="bg2 parallax-bg"></div>
      <div class="overlay"></div>
      <div class="container">
        <div class="parallax-content visible-lg visible-md hidden-sm hidden-xs">
          <div class="parallax_txt2">Why Choose us ?</div>
          <div class="parallax_txt1">You have a number of reason to prefer us !</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-services></app-services>

<app-packages></app-packages>

<app-contact></app-contact>

<app-map></app-map>

<app-footer></app-footer>



-->
