			<section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="5000" id="slider-3">
    <div>
        <div>
            <div>
                <ol class="carousel-indicators">
                    <li data-app-prevent-settings="" data-target="#slider-3" data-slide-to="0" class="active"></li><li data-app-prevent-settings="" data-target="#slider-3" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider-3" data-slide-to="2"></li><li data-app-prevent-settings="" data-target="#slider-3" data-slide-to="3"></li><li data-app-prevent-settings="" data-target="#slider-3" class="" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active" data-bg-video-slide="false" style="background-image: url(assets/images/1-2000x1333.jpg);">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay"></div>
                            <div class="container-slide container">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-xs-center">
                                        <h2 class="mbr-section-title display-1">HEALTH LYNE</h2>
                                        <p class="mbr-section-lead lead">Providing the world class health facilities to your organisatioon and families</p>

                                        <div class="mbr-section-btn"><a class="btn btn-lg btn-success" href="https://mobirise.com">Know More</a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url(assets/images/5.jpg);">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay"></div>
                            <div class="container-slide container">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-1">
                                        <h2 class="mbr-section-title display-1">Best Treatment</h2>
                                        <p class="mbr-section-lead lead">Get the best out of all</p>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url(assets/images/2-2000x1239.jpg);">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay"></div>
                            <div class="container-slide container">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-3 text-xs-right">
                                        <h2 class="mbr-section-title display-1">Every Heart Beat Counts</h2>
                                        <p class="mbr-section-lead lead">Learn More about our Heart packages</p>

                                        <div class="mbr-section-btn"> <a class="btn btn-lg btn-white btn-white-outline" href="https://mobirise.com">SEE PACKAGES</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url(assets/images/3-2000x1500.jpg);">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay"></div>
                            <div class="container-slide container">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-3 text-xs-right">
                                        <h2 class="mbr-section-title display-1">Best Services</h2>
                                        <p class="mbr-section-lead lead">Choose from the quality health cares and &nbsp;get best services</p>

                                        <div class="mbr-section-btn"> <a class="btn btn-lg btn-white btn-white-outline" href="https://mobirise.com">KNOW OUR SERVICES</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url(assets/images/4.jpg);">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay" ></div>
                            <div class="container-slide container">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-3 text-xs-right">
                                        <h2 class="mbr-section-title display-1">CARE IS WHAT MAKES US BEST</h2>
                                        <p class="mbr-section-lead lead">We care about you.</p>

                                        <div class="mbr-section-btn"> <a class="btn btn-lg btn-white btn-white-outline" href="https://mobirise.com">MORE ABOUT PARTNERS</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-3">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-3">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>